.homedata{

    width: 100%;
    height: 50%;
    /* margin-top: 10px; */
    padding: 0px;
    border-radius: 12px;
    background: var(--dashboard-box-bg-light);
    border-radius: 12px;
    box-shadow: -2px 5px 10px rgba(0,12,12, 0.1 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#dark .homedata{

    background: var(--dashboard-box-bg-dark);


}

.homerow3{
    width: 100%;
    margin: 0px;
    background: var(--dashboard-box-bg-light);
    border-radius: 12px;
    box-shadow: -2px 5px 10px rgba(0,12,12, 0.1 );
    height: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

#dark .homerow3 {
    background: var(--dashboard-box-bg-dark);
}