

.landing{

    background-color: white;
    /* padding: 0px; */

}
.div1{
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 94%;
    left: 3%;
}


.navrow{
    background:  rgb(18 204 235 / 59%);
    height: 40px;
    box-shadow: 2px 2px 9px rgba(0,0,0,0.2 );
    border-radius: 16px;

}

.dropdown_menu_visble{
    display: block;
    background: #3bdea8 !important;
    padding: 12px 50px 12px 12px !important;
    position: absolute;
    top: 167%;
    
}

.dropdown_menu1_visble{

    display: block;
    background: #3bdea8 !important;
    padding: 7px 30px 7px 14px !important;
    position: absolute;
    left: 31%;
    bottom: 24%;
    border-radius: 6px;
}

.dropdown_menu_hide{
    display: none;
    background: #3bdea8 !important; 
    padding: 12px !important;
}

.dropdown_menu_visble  li a{
    text-decoration: none !important;
    color: white;
}

.dropdown_menu1_visble  li a{
    text-decoration: none !important;

}

.SignInBtn{
    text-decoration: none;
    background: #67e5b0;
    padding: 6px 8px;
    box-shadow: 1px 2px 3px rgb(23 210 140);
    border-radius: 4px;
}

.dropdown_toggle{
    color: white !important;
}
.dropdown_toggle1{
    color: black;
}

.demSiteUl li{
    position: relative;
}

.demSiteUl li a{
    text-decoration: none !important;
    color: white !important;
    transition: all 0.3s ease-in;
}

.demSiteUl li a:hover{
    color: black !important;
}


.demSiteUl li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(13, 246, 40);
    position: absolute;
    bottom: 0;
    left: -3px;
    transition: all 0.3s ease-in-out;
}

.demSiteUl li:hover::after {
    width: 110%; 
  }

  .weDo{
    padding-top: 70px;
  }

  .weDoText{
    color: rgb(60,226,173);
    font-weight: 600;
  }

  .sectionText{
    font-weight: 900;
    opacity: 0.7;
  }

  .weDobtn{
    background: #67e5b0;
    padding: 6px 8px;
    box-shadow: 1px 2px 3px rgb(23 210 140);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  .weDobtn:hover{
    background-color: #64b995;
    color: white;
    padding: 6px 12px;
  }


.pimg2 {
    position: relative;
    background-image: url('../../Assets/Images/services1.jpg');

    min-height: 500px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    margin-top: 48px;
}

.pimg3 {
    position: relative; 
    background-image: url('../../Assets/Images/technologyBack.jpg');

    min-height: 410px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg4 {
    position: relative;
    background-image: url('../../Assets/Images/services2.jpg');

    min-height: 410px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg5 {
    position: relative;
    background-image: url('../../Assets/Images/doctors.jpg');

    min-height: 410px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg6 {
    position: relative;
    background-image: url('../../Assets/Images/mediBack.jpg');

    min-height: 410px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}


.pimg7 {
    position: relative;
    background-image: url('../../Assets/Images/classroomBack.jpg');

    min-height: 410px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg8 {
    position: relative;
    background-image: url('../../Assets/Images/teacherBack.jpg');

    min-height: 410px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.section {
    text-align: center;
    padding: 10px 1px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    /* background-color: #282834; */
    color: black;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    /* color: white; */
    font-size: 30px;
    letter-spacing: 5px;
    color: #428f4c;
    font-weight: 700;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.border:hover {
    background-color: #000;
}

.serviceCol{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceIcon{

    height: 60px;
    background: rgb(60,226,173);
    padding: 6px;
    border-radius: 12px;
    box-shadow: 1px 5px 6px rgb(41 62 57 / 20%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.serviceIcon:hover{
    height: 65px;
    background: #02f7aa;

}

.serviceDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}

.serviceDiv h5{
    transition: all .3s ease-in-out;
}

.serviceDiv:hover h5 {
    color: #02f7aa;
    font-size: 20px;
}




.docCard{
    border-radius: 12px;
    border: 2px solid rgb(60,226,173);
}

.docImage{
    max-width: 100%; /* Make the image fit its container width */
    height: auto;
    border-radius: 12px;
}

.doctTitle{
    text-align: center;
    margin-top: 54px;
    font-weight: 800;
    font-size: medium;
}

.docImageDiv{

    position: relative;
}

.docIncon{
    position: absolute;
    width: 30px;
    right: 43%;
    top: 104%;
}

.docMainDiv{
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.docMainDiv:hover{
    padding: 8px;
}



.docMainDiv:hover .docCard{
    border: 2px solid black;
}

.teachSub{
   color: #514e4e ;  
}

.pharmayText{
    text-align: center;
    margin: 12px;
}



/* for animated background */
/* 
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
} */


.area{
    background: #00b4c6;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:70vh;
    position: relative;
    padding: 0px
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* welcome area */

.welcome-area{
    position: absolute;
    top: 8%;
    width: 100%;
    
}




/* 
---------------------------------------------
services
--------------------------------------------- 
*/
#services {
    position: relative;
    padding: 120px 0px 90px 0px;
    background: rgba(0, 136, 232, 1);
    background: -moz-linear-gradient(
      -45deg,
      rgba(0, 136, 232, 1) 0%,
      rgba(0, 182, 198, 1) 0%,
      rgba(0, 136, 232, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right bottom,
      color-stop(0%, rgba(0, 136, 232, 1)),
      color-stop(0%, rgba(0, 182, 198, 1)),
      color-stop(100%, rgba(0, 136, 232, 1))
    );
    background: -webkit-linear-gradient(
      -45deg,
      rgba(0, 136, 232, 1) 0%,
      rgba(0, 182, 198, 1) 0%,
      rgba(0, 136, 232, 1) 100%
    );
    background: -o-linear-gradient(
      -45deg,
      rgba(0, 136, 232, 1) 0%,
      rgba(0, 182, 198, 1) 0%,
      rgba(0, 136, 232, 1) 100%
    );
    background: -ms-linear-gradient(
      -45deg,
      rgba(0, 136, 232, 1) 0%,
      rgba(0, 182, 198, 1) 0%,
      rgba(0, 136, 232, 1) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(0, 136, 232, 1) 0%,
      rgba(0, 182, 198, 1) 0%,
      rgba(0, 136, 232, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );
  }
  
  .service-item {
    cursor: pointer;
    display: block;
    background: #ffffff;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    margin: 1em;
    width: 75%;
    border-radius: 30px;
  }
  
  @media screen and (max-width: 920px) {
    .service-item {
      margin: 0px 30px !important;
    }
  }
  
  .service-item:hover .icon,
  .service-item:hover a.main-button {
    background-color: #0088e8;
  }
  
  .service-item .icon {
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    background: #00b4c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
  }
  
  .service-item .icon img {
    max-width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .service-item .service-title {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
  }
  
  .service-item p {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
  }
  
  .service-item a.main-button {
    margin-top: 30px;
    display: inline-block;
  }
  
  .owl-carousel .owl-dots {
    margin-top: 60px;
    text-align: center;
    align-self: center;
  }
  
  .owl-carousel button.owl-dot span {
    border-radius: 50%;
    background-color: #fff;
    width: 5px;
    height: 5px;
    display: inline-block;
    margin: 0px 5px;
  }
  
  .owl-carousel button.active span {
    width: 8px;
    height: 8px;
    padding-top: 1.5px;
  }
  
  .owl-carousel {
    position: relative;
  }
  
  .owl-carousel .owl-nav button.owl-next span {
    top: 32%;
    border-radius: 50%;
    font-size: 36px;
    color: #fff;
    right: -80px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    background-color: rgba(250, 250, 250, 0.15);
    position: absolute;
  }
  
  .owl-carousel .owl-nav button.owl-prev span {
    top: 32%;
    border-radius: 50%;
    font-size: 36px;
    color: #fff;
    left: -80px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    background-color: rgba(250, 250, 250, 0.15);
    position: absolute;
  }
  
  @media screen and (max-width: 1320px) {
    .owl-carousel .owl-nav {
      display: none !important;
    }
  }
  

  /* for carousel */
  /* styles.css */

.owl-carousel {
    display: flex;
    align-items: center;
  }
  
  .carousel-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .react-multi-carousel-item {
    /* width:220px !important */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  /* patter css */
  .pattern {
    background: linear-gradient(45deg, #00838F, #00aeff5e);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%2391deea' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* Rotate by 45 degrees */
    /* transform: rotate(45deg); */
  }
  