.verify_container{


    height: 100vh;


}

.verify_container button {
    margin: 0px 6px;
    background: #3ce2ad;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;

}

.verify_container button:hover{
    background: #3b9f7f;
}

#dark .verify_container button {
    background: #5fb2b5;
}






#dark {
    background: linear-gradient(26deg, rgb(70 163 134 / 99%) 22%, rgb(53 77 78 / 65%) 85%);
  
}

#light{

    background: linear-gradient(36deg, rgba(60,226,173,1) 0%, rgba(185,247,249,1) 52%);


}

