

.activeTab{
    background: var(--nav-icon-active-color-light) !important;
    color:  white !important;
    padding: 4px 8px;
    border-radius: 3px;
}

.tabsButtonDiv{
    border-bottom: 1px solid black;
    padding: 12px 0px;
}

.tabButton{
    background: transparent ;
    padding: 4px 8px;
    border-radius: 3px;
}

.tabButton:hover{
    background: red !important;
    color: white;
   
}


.jiAnER:hover {
    background-color: #cbdbed77; /* Change the color to your desired hover color */
    cursor: pointer; /* Optional: Change the cursor to a pointer on hover for better user feedback */
  }


  .card-body {
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  }