.profile-icon{
    width: 3em;
    height: 3em;
    filter: invert(1);

}

#dark .profile-icon{
    filter: invert(1);
    
}

.profile-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-subtitle{
    color: rgb(150, 153, 153);
    font-size: 0.60em;
}

.title-div{
    /* box-shadow: rgba(50, 50, 93, 0.10) 0px 50px 100px -39px, rgba(0, 0, 0, 0.3) 0px 30px 60px -67px, rgba(10, 37, 64, 0.35) 0px 0px 6px 0px inset; */
    background: var(--title-div-bg-light);
}

#dark .title-div{
    background-color: var(--creatProfile-bg-dark);

}

.profile-img-div{
    background: var(--profile-img-div-bg-light);
    /* box-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: .30em .30rem;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dark .profile-img-div{
    background: var(--profile-img-div-bg-dark);

}


.titile-title{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

