#creatProfile{
    background-color: var(--creatProfile-bg-light);
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;

    padding: 12px 15px;
    border-radius: 12px;
}

#dark #creatProfile{
    background-color: var(--creatProfile-bg-dark);
}

#dark #creatProfile input[type="text"]{
    background: transparent;
  /* border: 2px solid white; */
  color: white;
  
}

#creatProfile input[type="text"]::placeholder{
    font-size: 12px;
}

#creatProfile input[type="number"]::placeholder{
    font-size: 12px;
}


#dark #creatProfile input[type="text"]::placeholder{
    color: white;
}

#dark #creatProfile input[type="number"]{
    background: transparent;
  /* border: 2px solid white; */
  color: white;
  
}

#dark #creatProfile input[type="number"]::placeholder{
    color: white;
}



#creatProfile label{
    margin: 4px;
    font-size: 16px;
    color: #584242;
}

#dark  #creatProfile label{
    color: white;
}

#about{
    border: 1px solid #e4e0e0;
    padding: 12px 10px;
    border-radius: 12px;
    font-size: 15px;
} 

#dark #about{
    background: transparent;
    border: 2px solid white;
    color: white;
}

#dark #about ::placeholder{
    color: whitesmoke;
}


#profile_btn{
    background: var(--nav-link-active-color-light);
    padding: 6px 26px;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(20, 20, 20);
    border: 2px solid #5e7dc4;
}

#cancel_btn{
    background: transparent;
    padding: 6px 26px;
    font-size: 15px;
    border-radius: 8px;
    color: #009aff;
}

#dark #profile_btn {
    background: var(--nav-link-active-color-dark);;
    box-shadow: 2px 6px 21px rgb(34 229 224 / 20%);
}

#dark #profile_btn:hover{
    background-color: var(--btn-hover-light);;
}


#profile_btn:hover{
    background:  var(--btn-hover-dark);;
    color: black;
    cursor: pointer;
}


#creatProfile h5{
    color: var(--from-headingText-light);
    font-weight: 600;
}


#profileContainer{
    background: linear-gradient(26deg, rgb(24 223 115 / 44%) 34%, rgb(115 191 194 / 65%) 31%);
    /* height: 50vh; */
    border-radius: 12px;
    box-shadow: 1px 10px 10px rgba(0,0,0,0.2);
    margin: 50px 0px;
    position: relative;
}


#profileContainer::before{

    content: "";
    width: 68%;
    height: 100%;
    background: #92ffbc;
    position: absolute;
    border-radius: 12px;
    clip-path: polygon(58% 0, 100% 0, 100% 100%, 75% 100%, 58% 100%, 0% 50%);
    right: 0px;


}

#dark #profileContainer::before {
   background:  rgb(52 73 74 / 44%) 34%;
}

.profileImgContainer{
    background: #92ffbc;
    border-radius: 50%;
}

#dark .profileImgContainer{
    background: rgb(52 73 74 / 44%) 34% ;

}


.profileText p{
    text-shadow: 1px 4px 8px rgba(0,0,0,0.2 );
    font-size: 1rem;
}






#dark #profileContainer {
    background: linear-gradient(26deg, rgb(67 108 86 / 44%) 34%, rgb(18 149 155 / 65%) 31%);
}


#profileImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: -1px 7px 10px rgba(0,0,0,0.2);
    padding: 3px;
}



#profileText p{
    margin-bottom: 0px;
}

#profileEdit{
    background: var(--nav-link-active-color-light);
    padding: 6px 26px;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(20, 20, 20);
    border: 2px solid #5e7dc4;
    transition: all ease-in .3s;
}

#dark #profileEdit{

    background: var(--nav-link-active-color-dark);;
    box-shadow: 2px 6px 21px rgb(34 229 224 / 20%);

}

#profileEdit:hover{
    background:  var(--btn-hover-light);
    color: black;
    cursor: pointer;
}

#dark #profileEdit:hover{
    background-color: var(--btn-hover-dark);;
}

.profileStyleDiv{
    background: var(--profile-card-side-light)
}

#dark .profileStyleDiv{
    background: var(--profile-card-side-dark)

}




.css-wmy1p7-ReactDropdownSelect{
    background: white;
}

#dark .css-wmy1p7-ReactDropdownSelect{
    background: transparent;
}

.imgCol1{
    position: relative;

}


.imgCol1::before{
    content: "";
    width: 50%;
    height: 100%;
    background: var( --profile-card-side-light);
    position: absolute;
    z-index: 1;
    left: 0px;
    border-radius: 39px 3px 149px 34px;
    box-shadow: 9px 2px 10px rgba(0,0,0,0.2 );
    z-index: 1;
}

#dark .imgCol1::before{
    background:  var( --profile-card-side-dark);


}

.profileImg1{
    z-index: 2;
    margin: 33px 0px;
}

.img1{
    width: 120px;
    height: 120px;
    border-radius: 35px 13px 35px 13px;;
    box-shadow: 9px 5px 19px rgba( 0,0,0, 0.2);

}

.row1profile{
    position: relative;
    border: 2px solid var(--profile-card-side-light);
    border-radius: 40px;
    transition: all 300ms ease-in-out;
}

.row1profile:hover{
    transform: scale(1.016);

}

#dark .row1profile{
    border: 2px solid  var(--profile-card-side-dark); 
}
.row1profile
/* 
.row1profile::before{
   
    content: "";
    width: 104%;
    height: 108%;
    position: absolute;
    background: #2bf2d0;
    z-index: 2;
    opacity: 0.6;
    padding: 1px;
    top: -13px;
    right: -2%; 
    border: 12%;
    border-radius: 40px;

} */

#profileStyle1{
    position: absolute ;
    width: 100%;
    height: 100%;
    background: #2bf2d0;
    opacity: 0.50;
    left: -9px;
    top: -16px;
    border-radius: 40px 40px 40px 40px;
}




.profileIcon1{
    width: 20px;
    margin-right: 10px;
}

#dark .profileIcon1{
    filter: invert(1);
}


@media screen and (max-width: 768px) {


    .imgCol1::before{

        content: "";
    width: 100%;
    height: 100%;
    background: var(--nav-link-active-color-light);
    left: 0px;
    top: 0px;
    border-radius: 40px;
    clip-path: polygon(92% 0, 0 0, 0 79%);
    z-index: 1;


    }



}

/* 
.formStyle::before{
    content: "";
    width: 100%;
    background: var(--nav-icon-active-color-light);
    height: 50%;
    position: absolute;
    z-index: 0;
    top: 1%
} */

