.App{
 
  /* width: 100vw; */
  /* height: 100vh; */
  overflow: hidden;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  
}

#dark {
  background: var(--background-color-dark);
  /* background: linear-gradient(26deg, rgb(70 163 134 / 99%) 22%, rgb(53 77 78 / 65%) 85%); */
  color: whitesmoke;
  transition: all 1s ease-out;
}

#light{

  background: var(--background-color-light);
  /* background: linear-gradient(36deg, rgba(60,226,173,1) 0%, rgba(185,247,249,1) 52%); */
  color: black;
  transition: all 1s ease-out;

}






 @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  /* my color collection */
  --background-color-light:rgb(181, 139, 139);
  --background-color-dark:rgb(181, 139, 139);

  --sideBar-bg-light : #F8F9FA;

  --sideBar-bg-dark : #343a40;
  --sidebar-container-bg-light :#d5dddf14;
  --sidebar-container-bg-dark :#212529;

 --nav-link-active-color-light : #FFFFFF;
 --nav-link-active-color-dark : #17191b;

 --nav-icon-active-color-light:#17C1E8;

 --nav-link-hover-color : #caf0f8;
 --nav-link-hover-dark-color : #575e65;
 
 --main-content-top-bg-light : #d5dddf14;
 --main-content-top-bg-dark :#212529;

 /* --mainContent-bg-light :#caf0f8; */
 --mainContent-bg-light :#F8F9FA;
 --mainContent-bg-dark :#343a40;

 --creatProfile-bg-light :#FFFFFF;
 --creatProfile-bg-dark :#363c42;


 --title-div-bg-light : #FFFFFF;
 --title-div-bg-dark : #212529;

 --profile-img-div-bg-light:#17C1E8;
 --profile-img-div-bg-dark:#17191b;

 --dashboard-box-bg-light : #90e0ef;
 --dashboard-box-bg-dark : #363c42;


 --homeNews-border-color-light: #caf0f8;
 --homeNews-border-color-dark: #90e0ef;

 --search-btn-bg-light:#deedf554;
 --search-btn-bg-dark:#86898a24;

 --profile-card-side-light: #00b4d8;
 --profile-card-side-dark: #17191b;

 --btn-hover-light:#caf0f8;
 --btn-hover-dark:#3c6263;

  --from-headingText-light: #424846;


  --profile-dropDown-bg-light: #FFFFFF;

  --primary: #29221d;
  --primar-light: #473b33;
  --secondary: #1e1611;
  --white: #fff;
  --black: #000;
  --pumpkin: #fe6c00;
  --silver: #a8a5a6;
  --silver-v1: #bdbabb;
  --scarlet: #fe1e00;
  --scarlet-v1: rgb(254, 30, 0, 0.79);
  --green: #00fe93;
  --yellow: #fec80a;
  --jet: #302924;
  --peach: #ffc397;
  --font-family-bai: "Bai Jamjuree", sans-serif;
  --transition-default: all 300ms ease-in-out;
}

body {
  font-family: var(--font-family-bai);
}

ul {
  list-style-type: none;
}
a {
  color: unset;
  text-decoration: none;
  color: var(--clr-white);
}

button {
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
}

.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-white {
  color: var(--clr-white);
}
.text-silver-v1 {
  color: var(--clr-silver-v1);
}
.text-scarlet {
  color: var(--clr-scarlet);
}
.text-green {
  color: var(--clr-green);
}
.bg-jet {
  background: var(--clr-jet);
}

.text-sm {
  font-size: 14px;
}

.app {
  display: flex;
  min-height: 100vh;
}

/* commons */
.lg-value {
  font-size: 24px;
  font-weight: 600;
}
.grid-common {
  background-color: var(--clr-primary);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  color: var(--clr-white);
  padding: 24px;
}
.grid-c-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.grid-c-title-text {
  font-weight: 400;
  color: var(--clr-silver);
}
.grid-c-title-icon img {
  width: 24px;
}

@media screen and (max-width: 1400px) {
  .grid-common {
    padding: 16px;
  }
  body {
    font-size: 14px !important;
  }
}



/* for theme 1 */
/* 
.forThemr1{
  textColor: #02182C;
  background-color: #e7f3fe;
  primaryColor:#4fa6f8;
  secondaryColor:#bfdffc;
  AccentColor: #0a7ce6;

}

.forThemr2{
  textColor: #000503;
  background-color: #D9FCEB;
  primaryColor:#9CF6CB;
  secondaryColor:#C2FADF;
  AccentColor: #13DD7B;

}


.forThemr3{
  textColor: #000000;
  background-color: #EEF2F2;
  primaryColor:#B299B2;
  secondaryColor:#C5D3D3;
  AccentColor: #747458;

} */